*{
    font-family: 'Marcellus SC', serif;

}
html {
    height: 100%;
  }
body {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Marcellus SC', serif;
        font-size: 1rem;
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
  }
  h3,
  h5,h4 {
    font-family: 'Marcellus SC', serif;
    margin-top: 0;
    
}
#page-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    overflow: hidden !important;
    position: relative;
  }
  .container,
.container-fluid {
  transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
}
.page-banner .page-name {
    float: left !important;
    margin-top: 15px !important;
  }
  .full-row {
    position: relative;
    width: 100%;
    padding: 50px 0;
  }
  .banner-full-row {
    position: relative;
    width: 100%;
    padding: 100px 0;
  }