*{
    font-family: 'Marcellus SC', serif;

}
html {
    height: 100%;
  }
body {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Marcellus SC', serif;
        font-size: 1rem;
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
  }
  h3,
  h5,h4,h1 {
    font-family: 'Marcellus SC', serif;
    margin-top: 0;
    
}
h2 {
    font-family: 'Marcellus SC', serif;
    margin-top: 0;
    text-align: center;

}
.page-wrapper {
    margin-left: 240px;
    padding-top: 10px;
    position: relative;
    transition: all 0.4s ease;
  }
  .page-header {
    margin-bottom: 1.875rem;
  }
  .page-header .breadcrumb {
    background-color: transparent;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  .page-title {
    color: #333;
    margin-bottom: 5px;
  }
  .card {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.875rem;
  }
  .card-header {
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem 1.5rem;
  }
  .card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
  }
  .card .card-header .card-title {
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 1.25rem;
  }
  .form-control {
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    font-size: 15px;
    height: 40px;
  }