*{
    font-family: 'Marcellus SC', serif;

}
html {
    height: 100%;
  }
body {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Marcellus SC', serif;
        font-size: 1rem;
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
  }
  h3,
  h5,h4 {
    font-family: 'Marcellus SC', serif;
    margin-top: 0;
    
}
h2 {
    font-family: 'Marcellus SC', serif;
    margin-top: 0;
    text-align: center;

}
.page-wrapper {
    margin-left: 240px;
    padding-top: 10px;
    position: relative;
    transition: all 0.4s ease;
  }
  .page-header {
    margin-bottom: 1.875rem;
  }
  .page-header .breadcrumb {
    background-color: transparent;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  .page-title {
    color: #333;
    margin-bottom: 5px;
  }
  .table {
    color: #333;
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }
  .table.no-border > tbody > tr > td,
.table > tbody > tr > th,
.table.no-border > tfoot > tr > td,
.table.no-border > tfoot > tr > th,
.table.no-border > thead > tr > td,
.table.no-border > thead > tr > th {
  border-top: 0;
  padding: 10px 8px;
}